*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4f4f4f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 400px;
}

h1{
    text-align: center;
}

#taskInput{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button{
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: 1s;
}

#addTaskBtn{
    width: 100%;
    margin-right: 0;
    margin-bottom: 1rem;
    background-color: #4f4f4f;
}
#addTaskBtn:hover{
    background-color: #c3c3c3;
    color: #000;
}
button:hover{
    background-color: #218838;
}
.filters{
    margin: 1rem 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}
ul{
    list-style-type: none;
    padding: 0;
}

li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
}

li.completed{
    text-decoration: line-through;
    color: #888;
}

li button {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

li button:hover {
    background-color: #c82333;
}